*.log
node_modules
backend/src/config.ts
backend/images/*
backend/temp/*
backend/dist
**/dist/**/*.js
**/dist/**/*.css
**/dist/**/*.png
**/dist/**/*.jpg
**/dist/**/*.mp3
**/dist/**/*.mp4
**/dist/**/*.svg
**/dist/**/*.json
!frontend/dist/assets/*
temp
playersDB.json
backend/.env
.yarn