$body-bg: #0f0f0f;

// Scroll
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: #e1e1e1;
	border: 0px none #ffffff;
	border-radius: 50px;
}

::-webkit-scrollbar-track {
	background: #666666;
	border: 0px none #ffffff;
	border-radius: 50px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

// Main code
* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Work Sans', sans-serif;
	color: white;
}

body {
	background: $body-bg;
	width: 100vw;
}

#navbar {
	width: 100vw;
	height: 64px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	& > h1,
	div {
		padding: 0 12px;
	}

	a {
		margin: 0 5px;

		background: none;
		text-decoration: none;
		cursor: pointer;
		outline: none;
		border: none;
		border-radius: 0.2rem;

		font-size: 15px;
		font-weight: 500;
	}
}

#content {
	min-height: 90vh;
	height: 100%;
	padding: 10px 0;
}

#footer {
	background: #1a1a1a;

	width: 100vw;
	min-height: 450px;
	height: 100%;
	font-size: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	& > div {
		padding: 1rem 0;
	}

	#footer-content {
		width: 90vw;
		height: 100%;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 15px;
		row-gap: 15px;

		@media (max-width: 900px) {
			& {
				grid-template-columns: 1fr 1fr;
			}
		}
		@media (max-width: 500px) {
			& {
				grid-template-columns: 1fr;
			}
		}

		h1 {
			font-weight: 700;
			font-size: 25px;
			margin-bottom: 5px;
			padding-bottom: 5px;
		}

		p {
			font-size: 15px;
			text-align: justify;
			line-height: 23px;
		}

		& > div {
			height: 100%;
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}

	#footer-bottom {
		font-size: 15px;
		font-weight: 700;
	}

	.footer-links {
		display: grid;
		row-gap: 10px;

		svg {
			margin-right: 5px;
		}

		a {
			display: inline-flex;
			align-items: center;
			text-decoration: none;
			font-weight: 400;
			font-size: 16px;
			transition: color 0.2s;
		}

		a:hover {
			color: #aaaaaa;
			transition: color 0.2s;
		}
	}
}

#home-container {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 75px;
	}
}

#panel-container {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;

	#profile-card {
		width: 80%;
		height: 100vh;

		background: #1a1a1a;
		border-radius: 9px;

		margin: 20px;
		& > * {
			padding: 20px;
		}

		#profile-details {
			height: 250px;

			display: flex;
			flex-direction: row;
			align-items: center;

			background: #262626;

			& > * {
				margin: 0 10px;
			}

			h1 {
				font-size: 30px;
				font-weight: 700;

				b {
					font-weight: 800;
					color: #ffaadd;
				}
			}
		}

		#profile-avatar {
			width: 200px;
			height: 200px;
			border-radius: 100%;
			border: black solid 1px;
		}
	}
}

.error-401-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: center;

	#navbar {
		position: absolute;
		top: 0;
	}

	h1 {
		text-align: justify;
		width: 500px;
		font-size: 32px;
		padding: 20px;
	}
}

#article-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 10px;

	.card {
		@media (max-width: 586px) {
			& {
				width: 90%;
				height: 320px;
			}
		}

		background: #262626;
		width: 288px;
		height: 320px;
		border-radius: 0.5rem;
		padding: 15px;
		cursor: pointer;
		user-select: none;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		& > .card-header > p {
			padding: 8px 0;
		}

		.card-title {
			font-size: 20px;
			font-weight: 700;
			border-bottom: 1px solid #393939;
			color: white;
		}

		.card-footer {
			width: 288px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				color: #666666;
			}
		}

		p {
			color: #dedede;
		}
	}
}

#home-container-c {
	#navbar {
		position: absolute;
		top: 0;
	}
}
