#administration-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	gap: 5px;
	padding: 5px;
	img {
		border-radius: 9px;
	}
	.card {
		background: #262626;
		width: 260px;
		border-radius: 0.5rem;
		padding: 15px;
		user-select: text;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 10px;
		@media (max-width: 586px) {
			& {
				width: 90%;
			}
		}
		p {
			color: #dedede;
			font-size: 15px;
		}
	}
	.administration-column {
		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: center;
		.administration-row {
			display: flex;
			gap: 5px;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}