$card-background: #1f1f1f;

#dashboard-container {
	display: flex;
	padding: 40px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	#dashboard-center-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1600px;
		gap: 10px;
	}
	#dashboard-header {
		display: flex;
		gap: 10px;
		background: $card-background;
		align-items: center;
		border-radius: 10px;
		padding: 20px;
		height: 330px;
		@media (max-width: 720px) {
			img {
				display: none;
			}
			& {
				align-items: center;
				justify-content: center;
				height: 115px !important;
			}
			#dashboard-header-sub {
				align-items: center;
			}
		}
		img {
			border-radius: 100%;
			width: 300px;
			height: 300px;
		}
		#dashboard-header-sub {
			display: flex;
			flex-direction: column;
			margin-left: 20px;
			h1 {
				font-size: 30px;
			}
			p {
				font-size: 16px;
				color: #808080;
			}
		}
	}
	#dashboard-stats {
		display: flex;
		flex-direction: column;
		gap: 10px;
		#dashboard-admin {
			display: flex;
			flex-direction: column;
			gap: 10px;
			.content {
				display: flex;
				flex-wrap: wrap;
				gap: 5px;
				@media (max-width: 720px) {
					& {
						flex-direction: column;
					}
				}
			}
			a {
				outline: none;
				border: none;
				text-decoration: none;
				padding: 10px;
				border-radius: 5px;
				cursor: pointer;
				color: white;
				background: $card-background;
			}
		}
		#dashboard-ingame {
			display: flex;
			flex-direction: column;
			gap: 10px;
			.card {
				display: flex;
				flex-direction: column;
				padding: 20px;
				background: $card-background;
				border-radius: 5px;
				h1 {
					font-size: 15px;
					font-weight: 400;
				}
				p {
					font-size: 25px;
					font-weight: 800;
				}
			}
			.content {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 10px;
				@media (max-width: 720px) {
					& {
						grid-template-columns: 1fr;
					}
				}
			}
		}
		#dashboard-applications {
			display: flex;
			flex-direction: column;
			gap: 10px;
			.card {
				padding: 20px;
				background: $card-background;
				border-radius: 5px;
			}
			.content {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
		}
	}
}